<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css"/>
    <script src ="lib/jquery/dist/jquery.js"></script>
    <script src ="lib/jquery/dist/jquery.min.js"></script>
</head>
<body  style="background-image: url(../Upload/2019/7/-8586396394002768525_800_800.png);">
    
    <div class ="banner">
         <a asp-controller="Home" asp-action="Index" class="Navbutton">
         Главная
        </a>
        <a asp-controller="Home" asp-action="Privacy" class="Navbutton">
         Продукты
        </a>
         <a asp-controller="Home" asp-action="ImagePanel" class="Navbutton">
         Картинки
        </a> 
    </div>
    
    <div class="main">
            @RenderBody()
    </div>
</body>
</html>
