<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="~/css/pioneer-pagination.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css"/>
    
   
    <script src="/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/jsscript.js" type="text/javascript"></script>
    
</head>
<body class="Avatar">
 <div class ="banner">
         <a asp-controller="Home" asp-action="Index" class="Navbutton">
         Главная
        </a>
        <a asp-controller="Product" asp-action="Products" class="Navbutton">
         Продукты
        </a>
         <a asp-controller="Drow" asp-action="ImagePanel" class="Navbutton">
         Картинки
         </a>
            <a asp-controller="TrumbneilSize" asp-action="Size" class="Navbutton">
         Размеры
         </a> 
        

  </div >


    
    
    <div class="main">
           @RenderBody()
    </div>

	
</body>

</html>
