@model ThrumbneilSize
 
 
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Модель компьютера</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название модели:</dt>
             <h1>@Model.NameSize</h1>
 
            <dt>Производитель</dt>
            <h1>@Model.Width</h1>
 
            <dt>Год выпуска</dt>
            <h1>@Model.Height</h1>
        </dl>
    </div>
</div>



