
@model ThrumbneilSize
 
       
 <div>
  
   <form  action="/TrumbneilSize/Save" method="post">
     <table class="table table-border table-condensed">
     <input type="hidden" asp-for="Id"/>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
       <tr>
          <td> <label>Имя</label> </td>
          <td> <h4>@Model.NameSize</h4></td>
       </tr>
       
        <tr> 
          <td> <label >Ширина</label> </td>
          <td><input asp-for="Width" class="form-control-sm"/> </td>
        </tr>
       
        <tr> 
        <td> <label>Высота</label></td>
        <td> <input asp-for="Height" class="form-control-sm"/></td>
        </tr>
         <tr>
          <td><h5>Добавить миниатюры?</h5></td>     
          <td>  <label class="switch form-group">
                <input name="Check" type="checkbox" class="form-control"/>
                <span class="slider round"></span>
                </label> </td>
        </tr>
      </table>
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a  class="btn btn-primary" asp-controller="TrumbneilSize" asp-action="Size">Вурнуться</a>
       
   
    
   </form>
     
 </div>
    