@model Product
 
     
 <div>
   
   <form  action="/Product/SaveProduct" method="post">
     <table  class="table table-condensed">
     <input type="hidden" name="Id" asp-for="Id"/>
     <input type="hidden" name="ImageId" asp-for="Image.Id"/>
    
       <tr>
          <td> <label>Имя</label> </td>
           <td><input name="Name" asp-for="Name" class="form-control-sm"/> </td>
       </tr>
       
        <tr> 
          <td> <label >Описание</label> </td>
          <td><input name="Dictionary" asp-for="Dictionary" class="form-control-xl textBlok"/> </td>
        </tr>
       
        <tr> 
        <td> <label>Цена</label></td>
        <td> <input name="Price" asp-for="Price" class="form-control-sm"/></td>
        </tr>
      </table>
        <button class="btn btn-primary" asp-controller="Product" asp-action="ChooseImage">Добавить картинку</button>
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a  class="btn btn-primary" asp-controller="Product" asp-action="Products">Вурнуться</a>
       
   
    
   </form>
   
    
 </div> 
