@model List<Image> 

  
  <div class="mainWorcPanel">
   <form action="/home/ImageUploader" method="post" enctype="multipart/form-data">
    <input class="MainButton" type="file" name="file" id="file" />
    <input type="submit" name="submit" value="Загрузить" class="MainButton"/>
  </form>
    <a id="DeleteImage" asp-controller="Home" asp-action="ImageDelete" class="MainButton">
      Удалить
     </a>
   
 
   </div>

<div class="mainPanel">
 @foreach (Image item in Model)
 {    
     <div id="grid" class="ImageContainer">
        <img class="ImageForm" src="@item.Path">
       
     </div>
     <div id="grid">
        <input id="chec1" type="checkbox" class="ChakBox">
    </div>
 }
</div>
