/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.Avatar
{
  background: rgb(95, 109, 112);
}

.NavBarPanel
{
  background: red;
  height: 100px;
  
}

.Navbutton {
  margin: 10px;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
.Navbutton:hover {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
  text-decoration: none;
  font-size: 105%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.Navbutton:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
   text-decoration: none;
   color: rgb(241, 245, 245);
   font-size: 95%;
  }
  .MainButton {
    margin: 10px;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(175, 175, 184);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(42, 43, 48), rgb(81,81,86)) rgb(32, 33, 36);
    box-shadow:
     0 1px rgba(100, 99, 99, 0.2) inset,
     0 3px 5px rgba(0,1,6,.5),
     0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
  }
  .MainButton:hover {
    background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
    text-decoration: none;
    font-size: 105%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
  }
  .MainButton:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
     text-decoration: none;
     color: rgb(241, 245, 245);
     font-size: 80%;
    }
    
    
      
    .ChakBox {
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      text-decoration: none;
      border: .5em solid rgba(0,0,0,0);
      border-radius: 100%;
      background: rgb(245,245,245) linear-gradient(rgb(245,245,245), rgb(188,192,193)) 50% 50% / calc(1.5em + .5em*2) calc(1.5em + .5em*2);
      box-shadow:
       inset 0 -3px 10px rgba(255,255,255,1),
       inset 0 3px 10px rgba(0,0,0,.4),
       0 2px 4px rgba(0,0,0,.9);
       z-index: 1;
      }


.banner
{
  position: fixed;
  display: flex;
  background: rgb(76,77,82);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  height: 70px;
  width: 100%;
  z-index: 3;
  box-shadow: -1px 4px 6px rgb(182, 177, 177);
}
.logo
{
  margin-left: auto;
}
.main
{ padding-top:70px;
  
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  
}
.mainWorcPanel
{ 
  margin-top: 5px;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 2;
  background: rgba(153, 163, 172, 0.61);
}
.mainPanel
{
  padding-top: 110px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
/*Контейнер с Image*/

.ImageForm
{
 width: 100%; 
 min-width: 150px;
 max-width: 350px;
 height: auto;

 border-color: black;
 border-style: double;
 border-radius: 15px 5px 15px 15px;
}
.ImageForm:active
{ position: fixed; 
  width: 300%;
  height: auto;
  z-index: 4;
  min-width: 150px;
  max-width: 650px;
  left: 10%;
  right: 10%;
  top:20%;
  bottom: 20%;
  z-index: 4;
}
.ImageContainer
{
  min-width: 150px;
  max-width: 350px;
  position: relative;
  display: flex;
  width: 25%;
  height: auto;
  margin: 5px;
  flex: row wrap;
}


.RemoveImage
{
  flex: 1;
  position: absolute;
  z-index: 1;
  right: 2px;
  top:2px;
}
.MiniImage
{
  width: 45px;
  height: 45px;
  border-color: black;
  border-style: double;
  border-radius: 5px 5px 5px 5px;
}



   /*Диалоговое окно*/
.closeDialog{
   /*cursor: pointer;*/ 
    position: absolute;
    right: 15px;
    text-align: center;
    top:15px;
    
}
.EditDialog{
    display: none;  
    background-color: rgba(70, 65, 65, 0.575);
    z-index: 999;
    position: fixed;
    bottom:0;
    left:0;
    margin: 0;
    top:0;
    right: 0;

  }
.modalWind
{
  display: none;
  position: fixed;
  left:40%;
  right: 40%;
  bottom:40%;
  top:40%;
  width: 300px;
  height: 200px;
  z-index: 1000;
  background-color: aliceblue;
}
.modalButtonContainer
{

  margin: 20px;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}


/*Переключатель*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Стиль для меню редактирования размерами*/
.WorcPanel
{
  padding-top: 26px;
      
}

/*Стиль для таблиц*/
td {
  border: 1px solid rgb(182, 178, 178);
  
  }
  th
  {
    border: 2px solid rgb(182, 178, 178);
  }
  table { border-collapse: collapse; }
/*Для URL ссылок для API*/
  .apiUrl
  {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .apiUrl>a
  {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(19, 18, 18);
  }
  .apiUrl>a:hover
  {
    color: rgb(152, 152, 165);
  }
  .apiUrl>a:active
  {
    color: rgb(205, 205, 218);
  }
  
  .textBlok
  {
    width: 400px;
    height: 100px;
  }
  